name: Deploy Blog

on:
  merge:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Build Project
        run: mvn clean install -DskipTests

      - name: Login Docker Hub
        run: docker login -u ${{secrets.DOCKER_USERNAME}} -p ${{secrets.DOCKER_PASSWORD}}

      - name: Build docker image
        run : docker build -t geanmilhore/blog .

      - name: Push image docker
        run: docker push geanmilhore/blog

  deploy:
    needs: build
    runs-on: self-hosted
    steps:
      - name: Pull image from docker hub
        run: docker pull geanmilhore/blog:latest

      - name: Remove last container
        run: docker rm -f deploy_blog

      - name: Run docker container
        run: docker run -d -p 8080:8080 -e DATABASE_USER=${{secrets.DATABASE_USER}} -e DATABASE_PASSWORD='${{secrets.DATABASE_PASSWORD}}' -e DATABASE_URL=${{secrets.DATABASE_URL}} -e GOOGLE_SMTP_USERNAME=${{secrets.GOOGLE_SMTP_USERNAME}} -e GOOGLE_SMTP_PW=${{secrets.GOOGLE_SMTP_PW}} -e SECRET_KEY_JWT=${{secrets.SECRET_KEY_JWT}} --name deploy_blog geanmilhore/blog